.page-header
  %h1 Мои задачи
  %small= link_to 'Новая задача', new_user_task_path(current_user), class: 'btn btn-success p'

%table.table
  %thead
    %tr
      %th #
      %th Название
      %th Описание
      %th Статус
      %th Создана
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.id
        %td= link_to task.name, user_task_path(current_user, task)
        %td= task.description
        %td= task.state
        %td= task.created_at.to_s(:db)
        %td
          = link_to edit_user_task_path(current_user, task), title: 'Редактировать' do
            %i.fa.fa-pencil.fa-1g
          &nbsp;
          = link_to user_task_path(current_user, task), method: :delete, title: 'Удалить',
                    data: { confirm: 'Удалить задачу?' } do
            %i.fa.fa-close.fa-1g